a:hover, body {
    color: #428bca;
}
.avatar, .avatarHolder p {
    float: left;
}
    /*background-color: #3B8EB7!important;*/
.breadcrumb a{
    color: #428bca;
}

.catList{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
.breadcrumb a:hover{
    color: #000;
}
.newsHead {
    color: #428bca;
}
body {
    padding-top: 70px;
    background-color: #607d8b!important;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
}
.btn, a {
    text-decoration: none;
}
a.list-group-item:focus, a.list-group-item:hover {
    background-color: #CED3D6;
    text-decoration: none!important;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.largetxt {
    font-size: 4em!important;
}
.well {
    padding-left: 15px!important;
    padding-right: 15px!important;
}
a {
    color: #363B3E;
    text-decoration: underline;
}
.well a {
    color: #428bca;
    text-decoration: none;
}
.well a:hover {
    color: #2a6496;
    text-decoration: underline;
}
.nav a, .navbar-header a {
    text-decoration: none;
}
.forumBar a, .replyHead a, footer a {
    text-decoration: underline;
}
.error {
    color: red;
    font-style: italic;
}
footer {
    color: #c1c1c1;
    font-size: .9em;
}
h1, h2, h3 {
    color: #333;
}
footer a {
    color: #0040FF;
}
.error li {
    list-style-type: none;
    text-align: center;
}
.navbar-blue {
    background: #40545e;
    color: #fff!important;
}
.align_left {
    float: left; 
    padding: 8px;   
}
.align_right {
    float: right; 
    padding: 8px;   
}
.align_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pagination{
    /*min-height: 60px;*/
}

.icon-bar{
    color: #fff;
    background-color: #fff;
}
.navbar-blue .navbar-nav>li>a:hover {
    color: #fff!important;
    background-color: #3B8EB7!important;
}
.copyright {
    color: #888;
}
.forumBar, .navbar-blue .navbar-nav>li>a {
    color: #fff!important;
}
.smlTxt {
    font-size: 12px;
}
.replyBody {
    padding-left: 5px;
}
.avatarHolder {
    padding: 6px;
    font-size: 1.2em;
}
.replyHead {
    padding: 4px;
    font-weight: 700;
}
.timeStamp {
    font-size: .8em;
}
.avatarHolder li {
    list-style: none;
    text-align: left;
}
.avatar {
    max-height: 80px;
    max-width: 80px;
    padding-right: 15px;
}
.forumBar {
    background: #187BBD!important;
}
.navbar-blue .navbar-nav>li>a:hover {
    background: 0 0;
}
.navbar-blue .navbar-nav>li>a:focus {
    color: #fff!important;
    background: #2d3133;
}
.navbar-brand {
    color: #fff;
}
.navbar-brand:hover {
    color: #000;
}
.navbar-blue .navbar-brand a:hover {
    color: #000;
    text-decoration: underline;
}
.well {
    padding: 6px;
    border-color: #ddd;
    color: #444;
}
.moderatorLabel {
    color: #2dcc70;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: inherit;
}
.ownerLabel {
    color: #dd4b39;
}
.table-striped>tbody>tr:nth-of-type(odd), .trow {
    background-color: #F4E7E7!important;
}
.unread {
    color: red;
}
.dropdown-menu>li>a:hover {
    background-color: #3B8EB7!important;
    color: #fff;
}
.navbar-toggle {
    border-color: #fff;
}
.affix, .affix-top {
    position: static;
}
@media (min-width:979px) {
    #sidebar.affix-top {
    position: static;
    margin-top: 0;
    width: 360px;
}
#sidebar.affix {
    position: fixed;
    top: 70px;
    width: 360px;
}
}.postUsername {
    font-size: 1em;
}
.forumBar a {
    color: #fff;
}
.forumBar a:hover, .tab-pane {
    color: #000;
}
.replyBox {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #D3D5D7;
    background-clip: padding-box;
}
.rb {
    border-bottom: 1px solid #D3D5D7!important;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
.col-left {
    text-align: left!important;
}
.row-centered {
    text-align: center!important;
}
.instagram_shots {
    margin: 20px 0;
    text-align: center;
}
.instagram_shots li {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.ie7 .instagram_shots li {
    display: inline;
    zoom: 1;
}
.instagram_shots li img {
    border: 1px solid #ccc;
    padding: 3px;
}
.circular {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs>li>a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4), -2px -2px 5px -2px rgba(0, 0, 0, .4);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .4), -2px -3px 5px -2px rgba(0, 0, 0, .4);
}
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media (max-width: 900px)
{

    .dropdown-menu>li>a {
        color: #fff!important;
    }
}

.tweets {
   /* width: 200px;
    height: 115px;*/
    padding: 4px;
    float: left;
    background-color: #FFF;
    margin-right: 4px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    /*font-size: 12px;*/
    border: thin dashed #666;
}
.tweets img{
    padding: 2px;
    margin-right: 4px; 
    
}
#twitterCol{
    vertical-align: top;
}